Classroom Info

    <%= render partial: 'classroom', locals: {classroom: @classroom} %>

    <ul>
        <% @classroom.students.each do |s| %>
            <li><%= render partial: 'students/student', locals: {student: s} %></li><br>
        <% end %>

    </ul>